//- vars used in components/head
- var title = "interior" // HTML page title;
- var navMain = "a" // select main link ["a", "b", "c", "d"];
doctype 5
include ../../includes/html
  head
    include ../../includes/head
    //- insert page specific CSS/JS;
  body
    include ../../components/header/_default
    include ../../components/footer/_default
    include ../../includes/foot